<li>
	{{name}}

	<button class="add-burger" data-id="{{id}}" data-newburger="{{devour}}">
		{{#if sleep}}Devoured!{{else}}Devour it!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>